/* ------ CSS RESET ------ */

* {
   padding: 0;
   margin: 0;
   font-size:100%;
   line-height: 1em;
  }

body { 
        width: 75%; 
        max-width: 600px;
        margin: auto ;
        background: #fafafa;
        color: #333;
    font-family: 'Libre Baskerville', serif;
}
        
 h1, h2, h3 {
    font-weight: normal;
    color: #c06;
    text-align: center;}

 p, li, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.5;}
        
h1 {font-size: 4.5em;
    margin-top: 1em;
    text-shadow: 1px 1px 0px #f0f0f0, 3px 3px 0px rgba(0,0,0,0.5)}

h2 {font-size: 2.25em;
    margin: .3em 0 .5em 0}   

blockquote {
    hanging-punctuation: first;
    text-indent: -0.5em; /* Change according to your font */
            }
.kern { letter-spacing: -5px} 

.intro {font-size: 1.25em}

header {margin:6em 0}

header h2 {
    font-style: italic;
    font-size: 2.25em;
    margin-bottom: 1em;
    color: #333;}

hr {
    margin: 3em 0;
    height: 1px;    
    background-color:#c06;
    border: 0 none;
        }

/* -------------- LINKS -------------------- */

a {
    color: #c06; 
    text-decoration: none;} 



a:hover {
    color: #006341;
    border-bottom: 1px dotted;} 



/* ---------------- NAVIGATION ----------------------- */

nav {    
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #c06;
    padding: 1em 0; 
    font-size: 0.75em}


nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;}

nav ul li {
    display: inline;
    margin: 20px; } 

 nav a:link {
    color: #fff
}

nav a:visited {
   color: #fff
}

nav a:hover {
    border-bottom: none;
    color: #490026;
   transition: all 0.2s ease-in-out; 
    } 

/* ----------------- TYPOGRAPHY --------------------- */



blockquote {
    padding: 1em 0;
    font-size: 1.75em;
    line-height: 1.3em;
    color: #777;} 

cite    {
    font-size: .65em; 
}


/* ------------------- IMAGES -------------------- */

img {
    display: block;
    margin: 4em auto; /* This sets the margin top and bottom to 0px. The auto on the left and right will automatically calculate the space either side and split it evenly between the two margins. */
    padding: 0;
    max-width: 100%; /* This means that the images will resize to fit the parent container instead of just rendering at its native width and overflowing its containing box. */
}


/* ------------------ TABLE ---------------- */ 

 table {
    margin: auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-bottom: 2em;
    
}

caption {
    margin-bottom: 1.5em;
    text-transform: uppercase;
    }

 th {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #c06;}

th, td {
    padding: .6em;}

table, td {
   background: #BFBEBB;    
   border: 1px solid #fff;
} 


/*----------------- FOOTER ------------------ */
    
footer {
    text-align: center;
    font-size: .75em;
    line-height: 1.5em;
    padding-bottom: 2em;
    }

footer hr {margin: 3em 0
    }  


.connections {
	position: relative;
	margin: 0 auto;
	margin: 20px, 0;
}

.connections ul {
	margin: 0;
	padding: 0;}

.connections li {
	margin: 0 15px;
	padding: 0;
	list-style: none; 
	display: inline-block;}
	
.connections a:link {
	border-bottom: none;}
	
.connections img {
	opacity: 0.5;
    border: none;
	}
	
 .connections a:hover img {
		opacity: 1.0;
		border-bottom: none;
			transition: all 0.3s ease-in-out; 
				transform:scale(1.2);}	


/*------------------------ ADDING SOME MEDIA QUERIES --------------------------*/

@media (max-width: 50em){

  body {
    margin: auto;
    font-size: 115%; 
    width: 85%;
    }
    
  article {
    width: 90%;
    }
 

@media (max-width: 30em){

  body {
    margin: auto;
    font-size: 120%;
      width: 90%;
    }
    
    h1 {font-size: 3.25em}
    
    blockquote {font-size: 1.25em; line-height: 1.1em}
    
  article {
    width: 100%;
    }
 
  }