/* ----- CSS RESET ----- */

* {
    padding: 0;
    margin: 0;
    font-size:100%;
    line-height: 1em;    
}

body {width: 75%; 
max-width: 60 0px;
font-family: Georgia, 'Times New Roman' serif;
margin: auto;
background: #f0f0f0;
color: 333;}



.main {flex: 3;
    padding-right: 2em;
border-right: 1px solid #333}
.eaves {flex: 1}

/* -------------- LINKS --------------*/

a:hover {
    color: #006341;
    text-decoration: none;
    border-bottom: 1px dotted;}


/* ---------------- NAVIGATION ----------------*/

nav {
    
    position: fixed;
    top: 0;
    left: 0;
    margin:0 ;
    width: 100%;
    background-color: #c08;
    padding: 1em 0; }

nav ul {
    
    text-align: center;
text-transform: uppercase;
letter-spacing: 2px;}

nav ul li {
display: inline;
margin: 20px; }

nav a:hover {
    border-bottom: none;
    color: #c06
    } 


/* ----------------- TYPOGRAPHY -------------------- */

h1,h2,h3 { 
    font-weight: normal;
    color: #c06;
    text-align: center;}

p, li, blockquote { 
    margin-bottom: 1.5em;
    line-height: 1.5;}

h1 {font-size: 4em;
    margin-top: 1em;
    margin-bottom: 1em; }

h2 {font-size: 2.25em;
    margin-bottom: 1em;}
    
blockquote {
    padding: 1em 0 4em 0;
    font-size: 1.75em;
    line-height: 1.4em;} 

    blockquote cite {
font-size: .75em;
}
    
    
/* --------------- IMAGES ---------------*/

img { 
    display: block;
    margin: 4em auto;
    padding: 0;
    max-width: 100%;}
        
    
/* --------------- FOOTER ---------------*/  
    
footer {
        text-align: center;
        font-size: .75em;
        line-height: 1.5em;
        padding-bottom: 2em;
    }
    
footer hr {margin 3em 0}
    

/* --------------- TABLES ---------------*/

th, td {
    padding: 15px;
    text-align: left;
}
th, td {
    border-bottom: 1px solid #ddd;
}
tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {background-color: #f2f2f2;}
th {padding-top: 0em, 2em;
    background-color: #eb3b3b;
    color: white;
}



table {
    width: 50%;
}

th {
    height: 50px;
}

body
    