body {
font-family: Georgia, 'Times New Roman', serif; 
font-size: 100%;
} 

h1,h2 {
color: #ee3e80;
}

h1 { 
font-size: 4.236em;
}

h2 { 
font-size: 2.618em;
}

h3 { 
font-size: 1.618em;
}

p {
color: #665544
}
